<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Course Management</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    </head>
    <body ng-app="management_students" ng-controller="management_students_controller">
        <h2>Add New Course</h2>
        <div id="student_input" class="container">
            @*
            New Student:
            - name
            - matriculation number
            - id (login)
            *@
        <form id="course_addition" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label for="course_name" class="col-sm-4 control-label">First name:</label>
                <div>
                    <input type="text" name="name" id="student_first" ng-model="add.name"/>
                </div>
            </div>
            <div class="form-group">
                <label for="course_id" class="col-sm-4 control-label">Matriculation number:</label>
                <div >
                    <input type="text" name="course_id" id="course_id" ng-model="add.id"/>
                </div>
            </div>
            <div class="form-group">
                <label for="programme_choice" class="col-sm-4 control-label">Degree Programme:</label>
                <div class="btn-group">
                    <button class="btn btn-default btn-sm dropdown-toggle" type="button" data-toggle="dropdown" id="programme_choice">
                        {{degreeProgramme}}<span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" ng-Click="add.degreeProgramme = 'ai';degreeProgramme='Allgemeine Informatik'">Allgemeine Informatik</a></li>
                        <li><a href="#" ng-Click="add.degreeProgramme = 'mi';degreeProgramme='Medieninformatik'">Medieninformatik</a></li>
                        <li><a href="#" ng-Click="add.degreeProgramme = 'ti';degreeProgramme='Technische Informatik'">Technische Informatik</a></li>
                        <li><a href="#" ng-Click="add.degreeProgramme = 'wi';degreeProgramme='Wirtschaftsinformatik'">Wirtschaftsinformatik</a></li>
                    </ul>
                </div>

            </div>
            <div class="form-group">
                <div class="col-sm-offset-6">
                    <button type="submit" class="btn btn-info" ng-Click="addCourse(add)">Add</button>
                </div>
            </div>
        </form>
        </div>

        <h2>Find Student</h2>
        <div id="student_search" class="container">
            <form id="student_search_form" class="form-horizontal" role="form" novalidate>

                <div class="form-group">
                    <label for="student_id" class="col-sm-2 control-label">ID:</label>
                    <div>
                        <input type="text" name="student_id" id="student_id" ng-model="find.id"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4">
                        <button type="submit" class="btn btn-info" ng-Click="findStudent(find)">Find</button>
                    </div>
                </div>
            </form>
            <div id="search_results" class="container">
                <form id="student_addition" class="form-horizontal" role="form" novalidate>
                    <div class="form-group">
                        <label for="student_firstname" class="col-sm-2 control-label">First name:</label>
                        <div>
                            <input type="text" name="firstname" id="student_firstname" ng-model="result.firstname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student_lastname" class="col-sm-2 control-label">Last name:</label>
                        <div>
                            <input type="text" name="lastname" id="student_lastname" ng-model="result.lastname"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="matriculation_number" class="col-sm-2 control-label">Registration number:</label>
                        <div >
                            <input type="text" name="registrationNumber" id="registrationNumber" ng-model="result.registrationNumber"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student_id" class="col-sm-2 control-label">ID:</label>
                        <div>
                            <input type="text" name="student_id" id="student_id" ng-model="result.id"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="student_groupAssociation" class="col-sm-2 control-label">Group Association:</label>
                        <div>
                            <input type="text" name="student_groupAssociation" id="student_groupAssociation" ng-model="result.group"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <span class="col-sm-offset-0">
                            <button type="submit" class="btn btn-info" ng-Click="updateStudent(result)">Save</button>
                        </span>
                        <span>
                            <button type="submit" class="btn btn-info" ng-Click="deleteStudent(result)">Delete</button>
                        </span>
                    </div>
                </form>
            </div>
        </div>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <script src="@routes.Assets.at("js/angular-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/management_students.js")"></script>
    </body>
</html>