<!DOCTYPE html>
<html>
    <head lang="en">
        <meta charset="UTF-8">
        <title>Student Management</title>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    </head>
    <body ng-app="management_programmes" ng-controller="management_programmes_controller">
        <h2>Add New Degree Programme</h2>
        <div id="programme_input" class="container">

        <form id="programme_addition" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label for="programme_name" class="col-sm-4 control-label">Programme Name:</label>
                <div>
                    <input type="text" name="programme_name" id="programme_name" ng-model="add.programme_name"/>
                </div>
            </div>

            <div class="form-group">
                <label for="programme_id" class="col-sm-4 control-label">Programme ID:</label>
                <div>
                    <input type="text" name="programme_id" id="programme_id" ng-model="add.programme_id"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-6">
                    <button type="submit" class="btn btn-info" ng-Click="addProgramme(add)">Add</button>
                </div>
            </div>
        </form>
        </div>

        <h2>Add New Class</h2>
        <div id="class_input" class="container">

        <form id="class_addition" class="form-horizontal" role="form" novalidate>
            <div class="form-group">
                <label for="class_name" class="col-sm-4 control-label">Class Name:</label>
                <div>
                    <input type="text" name="name" id="class_name" ng-model="add.class_name"/>
                </div>
            </div>

            <div class="form-group">
                <label for="class_id" class="col-sm-4 control-label">Class ID:</label>
                <div>
                    <input type="text" name="name" id="class_id" ng-model="add.class_id"/>
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-6">
                    <button type="submit" class="btn btn-info" ng-Click="addClass(add)">Add</button>
                </div>
            </div>
        </form>
        </div>


        <script src="@routes.Assets.at("js/angular-min.js")"></script>
        <script src="@routes.Assets.at("javascripts/management_students.js")"></script>
    </body>
</html>